/* src/index.css */

/* Reset and Box-Sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  html, body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f7f7f7;
    line-height: 1.6;
    height: 100%;
  }
  
  /* General Heading and Paragraph Styles */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333;
  }
  
  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 2.5rem;
  }
  
  p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 1rem;
  }
  
  /* Link Styles */
  a {
    color: inherit;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Image Styling */
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  /* src/index.css or global CSS */
html {
    scroll-behavior: smooth;
  }
  